
*{
    border:0px;
    padding:0px;
    margine:0px;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

.nav-bar {
  width:100%;
  background-color: #ffffff;
  padding: 16px 120px;
}

.nav-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
  width:auto;
  object-fit: contain;
}

.nav-item {
  display: flex;
  gap: 32px;
}

.nav-item a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 6px;
  background-color: #30B868;
  color: white;
  cursor: pointer;
}
.btn:hover{
  color:rgb(231, 164, 41);
  background:rgb(9, 71, 9);
}
.hero {
  background-image: url("assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  color: #ffffff;
  position: relative;
}

.hero-over {
  inset: 0;
  background: rgba(7, 28, 45, 0.75);
  position: absolute;
}

.hero-cont {
  text-align: center;
  margin: 0 auto;
  padding: 130px 0 170px;
  position: relative;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: #ffffff;
  padding: 8px 12px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  margin-bottom: 16px;
}

.hero h1 {
  font-size: 72px;
  opacity: 90%;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #30b868;
}

.hero p {
  font-size: 18px;
  line-height: 1.5;
  word-spacing: 0.15em;
  color: #ffffff;
  margin: 0 auto 36px;
}


.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 22px;
}

.btn3 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: #ffffff;
  padding: 12px 16px;
}

.btn3:hover {
  background: rgba(193, 160, 160, 0.23);
  color:rgb(231, 164, 41);
}



